@import "~themes/vars.less";

.header {
  box-shadow: @shadow-2;
  position: relative;
  min-height: 66px;
  height: auto ;
  z-index: 9;
  background: @header-background;
  padding-left: 5% !important;
  padding-right: 5% !important;
  overflow: hidden;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: @primary-3;

  .rightWrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .leftWrapper {
    flex:1;
    align-items: center;
    line-height: 66px;
  }

  .logo {
    transition: @transition-ease-in;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }


  .selectBox {
    margin-right: 10px
  }

  .button {
    width: 63px;
    height: 63px;
    line-height: 66px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: @transition-ease-in;

    &:hover {
      color: @primary-color;
      background-color: fade(@primary-color, 15%);
    }
  }
}

.popovermenu {
  width: 280px;
  margin-left: 6px;

  :global .ant-popover-inner-content {
    padding: 0;

    .ant-menu-inline .ant-menu-item,
    .ant-menu-vertical .ant-menu-item {
      border-right: 0;
    }

    .ant-menu-inline .ant-menu-item-selected,
    .ant-menu-inline .ant-menu-selected {
      border-right: 0;
    }
  }
}
