// Overwrite vars in antd:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// Attention: just overwrite variable you need to change

@import "../../node_modules/antd/lib/style/themes/default.less";
@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0,0,0,0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@font-size-base: 13px;
@text-color: #666;

// Basic colors
@primary: #0fb8ad;
@secondary: #1fc8db;
@accent: #2cb5e8;
@light: #FAFBFB;
@disabled: #C8D0D3;
@transparent: transparent;
@tezos: #2c7df7;

// Component colors
@header-background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
@shadow-box: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;